<header class="jumbotron bg-primary text-white p-3">
  <h1 class="position-absolute">Employer Management System</h1>
    <ul class="list-group list-group-horizontal text-danger nav justify-content-end">
    <li routerLink="main" routerLinkActive="active" class="list-group-item">Home</li>
    <li routerLink="employee" routerLinkActive="active" class="list-group-item">Employer</li>
    <li routerLink="department" routerLinkActive="active" class="list-group-item">Department</li>
    <li routerLink="type" routerLinkActive="active" class="list-group-item">Job Type</li>
    <li routerLink="family" routerLinkActive="active" class="list-group-item">Family</li>
  </ul>
</header>
<section class="container-fluid">
  <router-outlet></router-outlet>
</section>

