<div class="row">
  <div class="col-4">
    <form ngForm #f='ngForm'>
      <div class="form-group">
        <label for="empID">Job ID</label>
        <input required class="form-control" #id="ngModel" (keyup.enter)="search(id.value)" ngModel id="empID" name="id" type="text">
      </div>
      <div class="form-group">
        <label for="empID">Job Name</label>
        <input required class="form-control" id="empName" ngModel name="jobType" type="text">
      </div>
      <div class="btn-group">
        <button [disabled]="!f.valid" class="btn btn-primary" type="button" (click)="save(f)">Save or Update</button>
        <button [disabled]="!f.valid" class="btn btn-danger" type="button" (click)="delete(f)">Remove</button>
        <button class="btn btn-warning" type="button" (click)="getAll()">Get All</button>
      </div>
    </form>
  </div>
  <div class="col-8">
    <table class="table table-bordered table-hover">
      <thead class="bg-danger text-white">
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="select(e)" *ngFor="let e of types">
        <td>{{e.id}}</td>
        <td>{{e.jobType}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
